.bodyimg{
    position: relative;
    text-align: center;
    color: white;
}
.header{
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}
.header1{
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
}
.head{
    position: absolute;
    bottom: 200px;
    left: 16px;
   
}

.grid {
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: teal;
}

.grid img {
    border : 2px solid black;
    border-radius : 50px;
}

.origami {
    border-radius: 20px;
    background-color: white;

    padding: 30px;
    margin: 25px;

    width : 310px;
    font-family: fantasy;
}

.origami:hover{
    transform: scale(1.2);
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

body {
    background-color: whitesmoke;
}

a:link {
    color:white;
}
a:visited{
    color:palegreen;
}